manifest {
    name        = 'SVcaller'
    description = 'SV/CNV/SMN1-SMN2 pipeline for human WGS'
    version     = '1.0.0'
    nextflowVersion = '>=25.10.0'
}

params {
    input         = null
    ref_fasta     = null
    genome        = 'GRCh38'
    pon           = null
    outdir        = 'results'
    min_depth     = 25
    skip_gridss   = false
    tiered_gridss = false   // run GRIDSS only on Manta non-PASS regions (faster; serial after Manta)
    eh_catalog    = "${projectDir}/assets/eh_catalog.json"
    giab_truth    = null
    annotsv_db    = null
    intervals     = null
    utils_container = 'svcaller/utils:1.0'
    max_cpus      = 64
    max_memory    = '120.GB'
    max_time      = '240.h'
}

env {
    TMPDIR = '/data/alvin/tmp'
}

includeConfig 'conf/base.config'
profiles {
    docker { includeConfig 'conf/docker.config' }
    local  { includeConfig 'conf/local.config'  }
    test   { includeConfig 'conf/test.config'   }
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else return obj
        } catch (all) { return obj }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else return obj
        } catch (all) { return obj }
    } else if (type == 'cpus') {
        try { return Math.min( obj, params.max_cpus as int ) }
        catch (all) { return obj }
    }
}
