docker.enabled         = true
docker.userEmulation   = true

process {
    withName: 'BWAMEM2_ALIGN'      { container = 'quay.io/biocontainers/bwa-mem2:2.2.1--he513fc3_1' }
    withName: 'SAMTOOLS_SORT'      { container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0' }
    withName: 'PICARD_MARKDUP'     { container = 'quay.io/biocontainers/picard:3.2.0--hdfd78af_0' }
    withName: 'MOSDEPTH'           { container = 'quay.io/biocontainers/mosdepth:0.3.8--hd299d5a_0' }
    withName: 'FASTQC'             { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0' }
    withName: 'MULTIQC'            { container = 'quay.io/biocontainers/multiqc:1.22.3--pyhdfd78af_0' }
    withName: 'MANTA_CALL'         { container = 'quay.io/biocontainers/manta:1.6.0--py38_1' }
    withName: 'DELLY_CALL'         { container = 'quay.io/biocontainers/delly:1.2.6--ha047f11_0' }
    withName: 'GRIDSS_CALL'        { container = 'gridss/gridss:2.13.2' }
    withName: 'EXPANSIONHUNTER'    { container = 'quay.io/biocontainers/expansionhunter:5.0.0--h9ee0642_1' }
    withName: 'JASMINE_MERGE'      { container = 'quay.io/biocontainers/jasminesv:1.1.5--hdfd78af_0' }
    withName: 'CNVPYTOR_CALL'      { container = 'quay.io/biocontainers/cnvpytor:1.3.1--pyhdfd78af_0' }
    withName: 'GATK_GCNV.*'       { container = 'broadinstitute/gatk:4.5.0.0' }
    withName: 'SMN_CALLER'         { container = 'svcaller/smncopynum:1.1' }
    withName: 'ANNOTSV'            { container = 'quay.io/biocontainers/annotsv:3.4.2--pl5321hdfd78af_0' }
    withName: 'TRUVARI_BENCH'      { container = 'quay.io/biocontainers/truvari:4.2.2--pyhdfd78af_0' }
    withName: 'SVCALLER_UTILS'     { container = 'svcaller/utils:1.0' }
}
